.wrapper {
    background-color: #f3f3f3;
}
.content {
    margin-inline: 20rem;
}
.warning {
    color: red;
    background-color: var(--background-color--white);
    display: flex;
    font-size: var(--n);
    border: 1px solid var(--background-boder-color-warning);
    align-items: center;
    & button {
        padding: 1.1rem;
        font-size: var(--m);
        color: var(--text-color-white);
        background-color: var(--background-boder-color-warning);
        margin-right: 1rem;
        height: 100%;
    }
}
/* Screen width >= 576px and < 768px: 3 slides per view */
@media (max-width: 576px) {
    .content {
        margin: 0;
    }
    .warning {
        font-size: var(--m);
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .content {
        margin: 0;
    }
    .warning {
        font-size: var(--m);
    }
}

/* Screen width >= 768px and < 992px: 3 slides per view */
@media (min-width: 768px) and (max-width: 991.98px) {
    .content {
        margin: 0;
    }
}

/* Screen width >= 992px and < 1200px: 4 slides per view */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .content {
        margin-inline: 5rem;
    }
}

/* Screen width >= 1200px and < 1400px: 5 slides per view */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .content {
        margin-inline: 10rem;
    }
}

/* Screen width >= 1400px: 6 slides per view */
@media (min-width: 1400px) {
    .content {
        margin-inline: 20rem;
    }
}
