@import 'normalize.css';

:root {
    //color
    --color-title: #007aff;
    --color-dark: #333;
    --color-white: #fff;

    //text
    --text-color-dark: #333;
    --text-color-band: #989292;
    --text-color-red: red;
    --text-color-white: #fff;

    //hover
    --hover-nav: #ebe2e2;
    --hover-red: red;
    --hover-yellow: #e1f106;

    //Backgroud
    --background-color--body: #322c2c;
    --background-color--white: #fff;
    --background-color-black: #000000;
    --background-color-nav: #c2baba;
    --background-color--chap: aqua;
    --background-boder-color-warning: #e3260c;
    --background-color-card: rgba(0, 0, 0, 0.5);
    --background-color-rank: #e3ef06;

    //font-size
    --xxll: 4rem;
    --xxxxl: 3rem;
    --xxxl: 2.4rem;
    --xxl: 2.2rem;
    --xl: 2rem;
    --l: 2.2rem;
    --n: 2rem;
    --ns: 1.8rem;
    --m: 1.6rem;
    --ms: 1.4rem;
    --mss: 1.2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}
body {
    overflow-y: overlay;

    font-family: Helvetica, serif;
}
//scrollba css
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
    display: flex;
    align-items: center;
}
img {
    width: 100%; /* Kích thước hình ảnh sẽ phù hợp với chiều rộng của div */
    height: auto; /* Giữ tỷ lệ khung hình */
    cursor: pointer;
}
a {
    cursor: pointer;
}
i {
    cursor: pointer;
}
