.wrapper {
    background-color: blue;
    height: auto;
    width: 100%;
    background-color: transparent;
    //nav
    & .theloai {
        padding-block: 2rem;
    }
}
@media (max-width: 576px) {
    .wrapper {
        h3 {
            font-size: var(--m);
        }
    }
}
