.wrapper {
    padding: 10px;
    height: auto;
}
.card {
    min-width: 15rem;
    max-width: 25rem;
    height: auto;
}
.img {
    position: relative;
    height: 20rem;
}
.img1 {
    width: 100%;
    height: 100%;
}
.hits {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2rem;
    padding-block: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    background-color: var(--background-color-card);
    color: var(--text-color-white);
    display: flex;
    justify-content: space-between;
    .icon {
        span {
            color: var(--text-color-white);
            opacity: 0.6;
        }
    }
}
.information-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.information-nav {
    padding-block: 0.5rem;
    width: 100%;
    height: 100%;
}
.information-ul {
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    padding-block: 0.5rem;
    li {
        color: var(--text-color-band);
        font-size: 0.5rem;
    }
}
.information {
    margin-top: 1rem;
    & nav {
        & ul {
            & li {
                font-size: var(--m);
                & span {
                    font-size: var(--ms);
                }
            }
        }
    }
}

.name {
    font-size: var(--m);
    display: -webkit-box;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị */
    max-height: 4em; /* Số dòng tối đa */
}

// phân trang
.pagination {
    padding: 6rem;
    width: 100%;
}
.pagination-ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-ul-li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-band);
    border: 1px solid var(--text-color-band);
    font-size: var(--l);
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    margin: 0.1rem;
    &:hover {
        background: linear-gradient(to right, #00f, #800080);
        color: var(--text-color-white);
    }
}
.btn-click {
    background: linear-gradient(to right, #00f, #800080);
    color: var(--text-color-white);
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
/* Screen width >= 576px and < 768px: 3 slides per view */
@media (max-width: 576px) {
    .grid {
        grid-template-columns: auto auto;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .grid {
        grid-template-columns: auto auto auto;
    }
}

/* Screen width >= 768px and < 992px: 3 slides per view */
@media (min-width: 768px) and (max-width: 991.98px) {
    .grid {
        grid-template-columns: auto auto auto auto;
    }
}

/* Screen width >= 992px and < 1200px: 4 slides per view */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .grid {
        grid-template-columns: auto auto auto auto;
    }
}

/* Screen width >= 1200px and < 1400px: 5 slides per view */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .grid {
        grid-template-columns: auto auto auto auto;
    }
}

/* Screen width >= 1400px: 6 slides per view */
@media (min-width: 1400px) {
    .grid {
        grid-template-columns: auto auto auto auto;
    }
}
