.wrapper {
    width: 100%;
    height: 100%;
}
img {
    position: relative;
}
.name {
    position: absolute;
    display: flex;
    align-items: center; /* Thiết lập phần tử con dọc với nhau */
    padding-inline: 20px;
    justify-content: flex-start;
    width: 100%;
    white-space: nowrap; /* Ngăn văn bản xuống dòng */
    overflow: hidden; /* Ẩn phần văn bản vượt ra ngoài vùng chứa */
    text-overflow: ellipsis; /* Thay thế phần văn bản vượt ra bằng dấu ba chấm */
    height: 5rem;
    bottom: 0rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* 50% độ trong suốt */

    color: var(--text-color-white);
    & p {
        display: flex;
        flex-direction: column; /* Thiết lập phần tử con dọc với nhau */
        & .names {
            font-size: var(--m);
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-align: start;
            text-overflow: ellipsis;
            margin-bottom: 0.6rem;
        }
        & .chap {
            font-size: var(--mss);
        }
    }
}

@media (max-width: 575.98px) {
}
