.wrapper {
    background-color: var(--background-color--body);
}
// css chứa
.wrapper-container {
    background-color: var(--background-color--white);
    padding: 2rem;
    font-size: var(--ms);

    & nav {
        display: flex;
        align-items: center;
        background-color: var(--background-color-nav);
    }
}
// btn cuộn
.btn-top {
    display: none;
}
.visible {
    position: fixed;
    right: 2rem;
    bottom: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: auto;
    padding: 1rem;
    font-size: 3rem;
    color: var(--text-color-white);
    z-index: 9999;
}

.nav_li {
    width: 12rem;
    padding: 1rem;
    display: flex;
    color: var(--text-color-dark);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    border-right: solid 1px #ffeeee;

    &:hover {
        background-color: var(--background-color--white);
        color: rgb(179, 0, 255);
    }
}
.nav_li:hover {
    background-color: var(--text-color-band-s);
    color: blueviolet;
}
.onclick-btn {
    background-color: var(--text-color-band-s);
    color: var(--text-color-white);
    width: 12rem;
    padding: 1rem;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: solid 1px #ffeeee;
}
// tippy-- amouse
.category-li {
    position: relative;
}
.div-category {
    position: absolute;
    top: 3.6rem;
    z-index: 9000000000;
    border: 1px solid #eaeaea;
    width: 40rem;
    right: 0;
    flex-wrap: wrap;
}

.nav1 {
    display: flex;
    width: 40rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav1-li {
    flex-wrap: wrap;
}
.div-history,
.div-rank {
    position: absolute;
    top: 3.6rem;
    z-index: 9000000000;
    border: 1px solid #eaeaea;
    width: 40rem;
    left: 0;
}

.list {
    font-size: var(--m);
    padding: 1rem;
    width: 13rem;
    &:hover {
        color: var(--hover-red);
        background-color: var(--background-color--white);
    }
}

.container {
    padding: 2rem;
    background-color: var(--background-color--white);
    display: flex;
    justify-content: space-between;
}
//Sidebar
.sidebar {
    width: 65%;
}
// content
.content {
    width: 35%;
    margin-top: 5.4rem;
}
// phân trang

// comment
.comment {
    padding: 3rem;
}
// tích hợp màn hình
//
.warning {
    color: red;
    background-color: var(--background-color--white);
    display: flex;
    font-size: var(--n);
    border: 1px solid var(--background-boder-color-warning);
    align-items: center;
    & button {
        padding: 1rem;
        font-size: var(--m);
        color: var(--text-color-white);
        background-color: var(--background-boder-color-warning);
        margin-right: 1rem;
        height: 100%;
    }
}

.div-container {
    margin-inline: 20rem;
}

/* Screen width >= 576px and < 768px: 3 slides per view */
@media (max-width: 576px) {
    .div-container {
        margin: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .div-container {
        margin: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}

/* Screen width >= 768px and < 992px: 3 slides per view */
@media (min-width: 768px) and (max-width: 991.98px) {
    .div-container {
        margin: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}

/* Screen width >= 992px and < 1200px: 4 slides per view */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .div-container {
        margin-inline: 5rem;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}

/* Screen width >= 1200px and < 1400px: 5 slides per view */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .div-container {
        margin-inline: 10rem;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}

/* Screen width >= 1400px: 6 slides per view */
@media (min-width: 1400px) {
    .div-container {
        margin-inline: 20rem;
    }
}
