.wrapper {
    font-size: var(--mss);
    border: 1px solid #a49d9d;
    padding: 1rem;
    margin-bottom: 5rem;
}
.title {
    font-weight: 200;
    padding-block: 2rem;
    color: rgb(59, 6, 218);

    & span {
        float: right;
        font-size: var(--ms);
        color: var(--text-color-dark);
    }
}
.board {
    display: flex;
    & .img {
        width: 7rem;
        height: 7rem;
        object-fit: fill;
        margin-right: 2rem;
    }
}
.board-ul {
    width: 100%;
    max-height: 40rem;
    overflow-y: auto;
    font-size: var(--m);
    & li {
        padding-block: 1rem;
        border-top: 1px solid var(--text-color-band);
    }
}
.container {
    height: 7rem;
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}
.name {
    text-align: start;
    font-size: var(--m);
    color: var(--text-color-dark);
}
.times {
    float: right;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    display: flex;
    font-size: var(--mss);
    align-items: center;
    color: var(--text-color-band);
    & span {
        margin-right: 0.5rem;
    }
}

.chap {
    position: absolute;
    bottom: 0;
    color: var(--text-color-band);
    & span {
        margin-right: 0.5rem;
    }
}
@media (max-width: 576px) {
    .title {
        font-weight: 600;
        font-size: var(--m);

        & span {
            font-size: var(--ms);
        }
    }
    .name {
        font-size: var(--m);
    }
    .times {
        font-size: var(--ms);
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .title {
        font-weight: 600;
        font-size: var(--n);

        & span {
            font-size: var(--m);
        }
    }
    .name {
        font-size: var(--m);
    }
    .times {
        font-size: var(--ms);
    }
}

/* Screen width >= 768px and < 992px: 3 slides per view */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Screen width >= 992px and < 1200px: 4 slides per view */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .title {
        font-weight: 600;
        font-size: var(--l);

        & span {
            font-size: var(--n);
        }
    }
    .name {
        font-size: var(--n);
    }
    .times {
        font-size: var(--ns);
    }
}

/* Screen width >= 1200px and < 1400px: 5 slides per view */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .title {
        font-weight: 600;
        font-size: var(--l);

        & span {
            font-size: var(--n);
        }
    }
    .name {
        font-size: var(--n);
    }
    .times {
        font-size: var(--ns);
    }
}

/* Screen width >= 1400px: 6 slides per view */
@media (min-width: 1400px) {
    .title {
        font-weight: 600;
        font-size: var(--l);

        & span {
            font-size: var(--n);
        }
    }
    .name {
        font-size: var(--n);
    }
    .times {
        font-size: var(--ns);
    }
}
