.grid {
    background-color: aliceblue;
    padding-inline: 2rem;
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // Thiết lập cột động
    grid-gap: 1rem; // Khoảng cách giữa các phần tử
}
.wrapper {
    margin-inline: 20rem;
    margin-block: 1rem;
    min-height: 100vh;
    background-color: var(--background-color--white);
    .title {
        padding-left: 2rem;
    }

    & .menu {
        font-size: var(--n);
        display: flex;
        justify-content: center;
        & .menu-nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            background-color: white;
            padding: 2rem;

            & .menu-ul {
                width: 15rem;
                display: flex;
                align-items: center;
                & .menu-item {
                    margin-right: 0.4rem;
                }
                & .menu-theloai {
                }
            }
        }
    }
}
.no-result {
    font-size: var(--m);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 5rem;
}

//
.wrapper1 {
    padding-inline: 1rem;
    padding-block: 2rem;
    .card {
        min-width: 20rem;
        max-width: 25rem;
        height: auto;
        .img {
            position: relative;
            height: 20rem;
            .img1 {
                width: 100%;
                height: 100%;
            }
            .hits {
                position: absolute;
                width: 100%;
                bottom: 0;
                height: 2rem;
                padding-block: 5px;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 1rem;
                background-color: var(--background-color-card);
                color: var(--text-color-white);
                display: flex;
                justify-content: space-between;
                .icon {
                    span {
                        opacity: 0.6;
                    }
                }
            }
        }
        .information {
            margin-top: 1rem;
            .name {
                font-size: var(--m);
                display: -webkit-box;
                width: 100%;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị */
                max-height: 4em; /* Số dòng tối đa */
            }
            .information-nav {
                padding-block: 0.5rem;
                width: 100%;
                height: 100%;
                .information-ul {
                    justify-content: space-between;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    padding-block: 0.5rem;
                    .chap {
                        font-size: var(--m);
                        color: var(--text-color-band);
                    }
                    .time {
                        font-size: var(--ms);
                        color: var(--text-color-band);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .gird {
        grid-template-columns: auto auto auto auto auto auto;
    }
}

@media only screen and (max-width: 1200px) {
    .gird {
        grid-template-columns: auto auto auto auto auto;
    }
}
@media only screen and (max-width: 900px) {
    .gird {
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (max-width: 700px) {
    .gird {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 1400px) {
    .wrapper {
        margin-inline: 4rem;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        margin-inline: 2rem;
    }
}
