li {
    display: flex;
    align-items: center;
}
.wrapper {
    height: 100%;
    margin-inline: 20rem;
    background-color: rgb(19, 19, 19);
    padding-inline: 2rem;
    color: #fff;
}

.visible {
    position: fixed;
    right: 2rem;
    bottom: 50%;
    background-color: var(--background-color--body);
    padding: auto;
    padding: 1rem;
    font-size: 3rem;
    color: var(--text-color-white);
    z-index: 9999;
}
// đầu

.ul-first-part,
.ul-information {
    display: flex;
}
.ul-first-part {
    padding-top: 2rem;
    width: 100%;
    font-size: var(--l);
    .ul-first-part-li {
        margin-right: 2rem;
        font-weight: 600;
    }
    .ul-first-part-li-home {
        &:hover {
            color: #9e00fa;
        }
    }
}
.wrapper1 {
    height: 40rem;
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    .avt {
        width: 30rem;
        margin-right: 5rem;
        object-fit: cover;
        height: 100%;
    }
    .wrapper2 {
        position: relative;
    }
    .name {
        padding-top: 0;
        color: #fff;
    }
    .time {
        font-size: var(--m);
    }
    .nav {
        font-size: var(--m);
    }
    .ul-information {
        .ul-information-li {
            display: flex;
            justify-content: space-between;
            color: #fff;
            margin-right: 3rem;

            padding-block: 1.5rem;
            & span {
                padding-right: 0.5rem;
            }
        }
        .ul-information-li1 {
            width: 14rem;
            display: flex;
            color: #fff;
            align-items: center;
            margin-right: 3rem;
            padding-block: 1.5rem;
            & span {
                margin-left: 1rem;
            }
        }
    }
}

.ul-evaluate {
    margin-top: 1rem;
    display: flex;
    font-size: var(--m);
    .ul-evaluate-li {
        margin-right: 0.5rem;
        color: #fff;
    }
    .ul-evaluate-li1 {
        position: relative;
        margin-top: 0.4rem;
        margin-right: 3rem;
    }
    .ul-evaluate-li.selected {
        color: yellow; /* Màu khi được chọn */
    }
}
// nút
.nav-btn {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    .nav-btn-ul {
        display: flex;
        margin-top: 2rem;
        .nav-btn-li {
            margin-right: 2rem;
        }
        .nav-text {
            font-size: var(--m);
        }
    }
}

// nội dung của truyện
.wrapper3 {
    margin-top: 5rem;
    font-size: var(--m);
    margin-bottom: 1rem;
    & span {
        font-size: var(--l);
        background-color: #00fa9a;
        padding: 1.5rem;
        cursor: pointer;
        border-radius: 3px;
        &:hover {
            background-color: #9e00fa;
        }
    }
    & p {
        margin-top: 2rem;
    }
}
.Content {
    font-size: var(--l);
    padding-top: 1rem;
}
// danh sách chương
.div-extend {
    & :hover {
        color: #fff;
        background-color: rgb(207, 67, 24);
        transform: scale(1.1);
    }
}
.extend {
    width: 15rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00fa9a;
    border-radius: 3px;
    font-size: var(--m);
    & span {
        padding-right: 2rem;
    }
}
.wrapper5 {
    margin-top: 3rem;
    .list-title-span {
        font-size: var(--m);
        margin-top: 4rem;
    }
    .ul-list-title {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
}

.wrapper4 {
    height: 20rem;
    background-color: rgb(224, 218, 218);
    border: 1px solid #d9d5d5;
    overflow: auto;
}
.div-list {
    width: 100%;
    padding: 1rem;
    background-color: rgb(130, 213, 246);
    box-shadow: 1px 2px 7px 1px #fff;
    .ul-list {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        &:hover {
            background-color: #9e00fa;
            transform: scale(1.2);
            padding-inline: 10rem;
        }
        .li-list2 {
            font-size: var(--ms);
            color: #fff;
        }
    }
}
.li-list {
    font-size: var(--m);
    padding: 0.5rem;
}
.li-list1 {
    margin-right: 1.5rem;
}
// Comment
.comment {
    width: 100%;
    margin-top: 5rem;
}

@media only screen and (max-width: 1400px) {
    .wrapper {
        margin-inline: 10rem;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        margin-inline: 2rem;
    }
}
@media only screen and (max-width: 1200px) {
    .ul-information-theloai {
        display: none;
    }
}
.faStar {
    box-shadow: 1px 1px 13px 1px #fa00dd;
}
