li {
    display: flex;
    align-items: center;
}
.wrapper {
    height: 100%;

    background-color: rgb(19, 19, 19);
    padding-inline: 2rem;
    color: var(--text-color-white);
}

.visible {
    position: fixed;
    right: 2rem;
    bottom: 50%;
    background-color: var(--background-color--white);
    padding: auto;
    padding: 1rem;
    font-size: 3rem;
    color: var(--text-color-white);
    z-index: 9999;
}
// đầu

.ul-first-part,
.ul-information {
    display: flex;
}
.ul-first-part {
    padding-top: 2rem;
    width: 100%;
    font-size: var(--l);
    .ul-first-part-li {
        margin-right: 2rem;
        font-weight: 600;
    }
    .ul-first-part-li-home {
        &:hover {
            color: #9e00fa;
        }
    }
}
.wrapper1 {
    height: 40rem;
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    .div-avt {
        .avt {
            width: 30rem;
            margin-right: 5rem;
            object-fit: cover;
            height: 100%;
        }
    }
    .wrapper2 {
        position: relative;
    }
    .name {
        padding-top: 0;
        color: var(--text-color-white);
    }
    .time {
        font-size: var(--m);
    }
    .nav {
        font-size: var(--m);
    }
    .ul-information {
        .ul-information-li {
            display: flex;
            justify-content: space-between;
            color: var(--text-color-white);
            margin-right: 3rem;

            padding-block: 1.5rem;
            & span {
                padding-right: 0.5rem;
            }
        }
        .ul-information-li1 {
            width: 14rem;
            display: flex;
            color: var(--text-color-white);
            align-items: center;
            margin-right: 3rem;
            padding-block: 1.5rem;
            & span {
                margin-left: 1rem;
            }
        }
    }
}

.ul-evaluate {
    margin-top: 1rem;
    display: flex;
    font-size: var(--m);
    .ul-evaluate-li {
        margin-right: 0.5rem;
        color: var(--text-color-white);
    }
    .ul-evaluate-li1 {
        position: relative;
        margin-top: 0.4rem;
        margin-right: 3rem;
    }
    .ul-evaluate-li.selected {
        color: yellow; /* Màu khi được chọn */
    }
}
// nút
.nav-btn {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    .nav-btn-ul {
        display: flex;
        margin-top: 2rem;
        .nav-btn-li {
            margin-right: 2rem;
        }
        .nav-text {
            font-size: var(--m);
        }
    }
}

// nội dung của truyện
.wrapper3 {
    margin-top: 5rem;
    font-size: var(--m);
    margin-bottom: 1rem;
    & span {
        font-size: var(--l);
        background-color: #00fa9a;
        padding: 1.5rem;
        cursor: pointer;
        border-radius: 3px;
        &:hover {
            background-color: #9e00fa;
        }
    }
    & p {
        margin-top: 2rem;
    }
}
.Content {
    font-size: var(--l);
    padding-top: 1rem;
}
// danh sách chương
.div-extend {
    & :hover {
        color: var(--text-color-white);
        background-color: rgb(207, 67, 24);
        transform: scale(1.1);
    }
}
.extend {
    width: 15rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00fa9a;
    border-radius: 3px;
    font-size: var(--m);
    & span {
        padding-right: 2rem;
    }
}
.wrapper5 {
    margin-top: 3rem;
    .list-title-span {
        font-size: var(--m);
        margin-top: 4rem;
    }
    .ul-list-title {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
}

.wrapper4 {
    background-color: rgb(224, 218, 218);
    border: 1px solid #d9d5d5;
    height: 20rem;
    overflow: auto;
}
.div-list {
    background-color: rgb(224, 218, 218);
    width: 100%;
    padding: 1rem;
    box-shadow: 1px 2px 7px 1px #fff;
    .ul-list {
        background-color: rgb(130, 213, 246);
        display: flex;
        justify-content: space-between;
        border: 1px solid #fff;
        margin-block: 5px;
        margin-inline: 3rem;
        cursor: pointer;
        &:hover {
            background-color: #9e00fa;
            transform: scale(1.1);
            margin-inline: 5rem;
        }
        .li-list2 {
            font-size: var(--ms);
            color: var(--text-color-white);
        }
    }
}
.li-list {
    font-size: var(--m);
    padding: 0.5rem;
}
.li-list1 {
    margin-right: 1.5rem;
}
// Comment
.comment {
    width: 100%;
    margin-top: 5rem;
}

/* Screen width >= 576px and < 768px: 3 slides per view */
@media (max-width: 576px) {
    .ul-information-theloai {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .wrapper1 {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .wrapper2 {
        margin-top: 2rem;
    }
    .nav-btn {
        position: relative;
        flex-direction: column;
        bottom: 0;
        .nav-btn-ul {
            display: flex;
            margin-top: 2rem;
            .nav-btn-li {
                margin-right: 2rem;
            }
            .nav-text {
                font-size: var(--m);
            }
        }
    }
    .div-avt {
        width: 100%;
        display: flex;
        margin-left: 2.5rem;
        justify-content: center;
        .avt {
            width: 100%;
            margin-right: 0;
            object-fit: cover;
            height: 100%;
        }
    }
    .ul-first-part {
        font-size: var(--m);
    }
    .name {
        font-size: var(--m);
        text-align: center;
    }
}

/* Screen width >= 768px and < 992px: 3 slides per view */
@media (max-width: 991.98px) {
}

/* Screen width >= 992px and < 1200px: 4 slides per view */
@media (max-width: 1199.98px) {
}

/* Screen width >= 1200px and < 1400px: 5 slides per view */
@media (max-width: 1399.98px) {
}

/* Screen width >= 1400px: 6 slides per view */
@media (min-width: 1400px) {
}
