.wrapper {
    font-size: var(--m);

    flex-direction: column;
    margin-inline: 20rem;

    .nav-title {
        background: linear-gradient(to right bottom, #57e72c, #faff60);
        .nav-title-ul {
            display: flex;
            height: 5rem;
            align-items: center;
            .nav-title-li1 {
                padding: 1rem;
                font-size: var(--l);
                font-weight: 600;
            }
            .nav-title-li-home {
                &:hover {
                    color: var(--text-color-white);
                }
            }
            .nav-title-li2 {
                font-size: var(--m);
                font-weight: 600;
                padding-top: 1.5rem;
                padding-inline: 1.5rem;
                color: var(--text-color-band);
            }
        }
    }
}

.chap-ul {
    background-color: rgb(142, 152, 152);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.li-home {
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
    background-color: var(--background-color--white);
    &:hover {
        color: var(--text-color-white);
        background-color: var(--background-color-black);
    }
}
.li-btn {
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;

    box-shadow: 1px 1px 13px 1px var(--color-white);
    color: var(--text-color-white);
    font-size: 1.8rem;
    font-weight: 600;
    min-width: 12rem;
    height: 5rem;

    background-color: var(--background-color--white);
    display: flex;
    justify-content: center;
    background-color: rgb(106, 255, 0);
    cursor: pointer;
}
.following {
    background-color: red;
    color: white;
}
.li-chap {
    font-size: 25px;
    height: 5rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--background-color--white);

    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        color: var(--text-color-white);
        background: linear-gradient(to right, #a742f5, #42aaf5);
    }
}
.li-chapter {
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
    font-size: var(--l);
    width: 30rem;
    background-color: var(--text-color-white);
    position: relative;
    cursor: pointer;
    &:hover {
        background: linear-gradient(to right, #a742f5, #42aaf5);
        color: var(--text-color-white);
    }
    .div-chapter {
        position: absolute;
        top: 4.5rem;
        left: 0;
        color: var(--text-color-dark);
        overflow: auto;
        max-height: 30rem;
        width: 100%;
        border-radius: 0 0 3px 3px;
        background-color: var(--background-color--white);
        .ul-chapters {
            width: 100%;

            .li-chapters {
                border-bottom: 1px solid var(--color-white);
                margin-top: 0rem;
                padding-block: 1rem;
                cursor: pointer;
                &:hover {
                    background: linear-gradient(to right, #a742f5, #42aaf5);
                    color: var(--text-color-white);
                }
                span {
                    padding: 1rem;
                }
            }
        }
    }
}

//  ảnh
.container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .div-img {
        width: 60rem;
        padding: 0;
        margin: 0;
        height: auto;
        img {
            width: 100%;
        }
    }
    //
}
.ultoolbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%; /* Đặt left là 50% */
    transform: translateX(-50%); /* Di chuyển về trái 50% của chiều rộng của chính nó */
    z-index: 9999;
    background-color: rgb(142, 152, 152);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
// tích hợp màn hình
@media only screen and (max-width: 1400px) {
    .wrapper {
        margin-inline: 2rem;
    }
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1000px) {
    .wrapper {
        margin-inline: 2rem;
    }
}
