.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    padding-inline: 3.5rem;
    color: var(--text-color-white);
    & nav {
        margin-top: 0.5rem;
        padding-top: 1rem;
    }
}
.wrapper1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
// show
.li-li {
    color: var(--text-color-white);
    padding-block: 1.2rem;
    font-size: var(--l);
    list-style: none;
    display: flex;
    align-items: normal;
    cursor: pointer;
}
li .theloai1 {
    float: left;
}
//bang
td {
    text-align: center;
    width: 20rem;
    padding: 1rem;
    border: 1px solid blanchedalmond;
}
th {
    padding: 1rem;
    border-bottom: 1px solid blanchedalmond;
}
td:hover {
    color: #e1f106;
    background-color: rgb(126, 121, 121);
}
.theloai {
    flex-direction: column;
}
.title {
    width: auto;
}
.title:hover {
    color: #e1f106;
}

// search
.search {
    height: 8rem;
}
.search-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

// Sign
.sign {
    li {
        border-bottom: 1px solid var(--white);
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        display: none;
    }
}
